<section class="footer">
  <footer id="page-section-footer" class="page__section--footer block--footer-region">
    <div class="block__body container w-100 pt-5">
      <div class="row justify-content-between">
        <div class="footer-item block--site-info mb-5 mb-md-4 col-md-4 col-lg-4">
          <div class="info-wrapper mb-3 mb-md-4 align-items-center justify-content-between">
            <h2 class="title text-white font-weight-normal d-inline-block d-md-block d-xl-inline-block mb-md-3 mb-xl-1 ">
              Logotype</h2>
            <div class="social-media d-inline-block d-md-block d-xl-inline-block" role="navigation">
            <span class="social-item mr-2 twitter"><a class="button button-social" href="#" role="button"><img
                src="./img/twitter.png" alt="twitter"></a></span>
              <span class="social-item mr-2 facebook"><a class="button button-social" href="#" role="button"><img
                  src="./img/facebook.png" alt="facebook"></a></span>
              <span class="social-item rss"><a class="button button-social" href="#" role="button"><img
                  src="./img/rss.png" alt="rss"></a></span>
            </div>
          </div>
          <p class="description mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam quis nunc rutrum placerat.
            Proin eu mi vitae neque veh interdum id nec turpis nam auctor faucibus sollicitudin.
          </p>
        </div>
        <div class="middle-col row col-md-4 col-lg-5">
          <div class="footer-item block--contact-info d-block d-xl-inline-block mb-5 mb-md-4 col-lg-6">
            <h5 class="title mb-3 text-uppercase font-weight-bold">Contact info</h5>
            <p class="address">
              222 Ave C South<br>
              Saskatoon, Saskatchewan<br>
               Canada S7K 2N5
            </p>
            <p class="mail"><a href="mailto:email@email.com">email@email.com</a></p>
            <p class="number font-weight-bold mb-0">1.234.567.8901</p>
          </div>
          <div class="footer-item block--quick-links d-block d-xl-inline-block mb-5 mb-md-4 col-lg-5">
            <h5 class="title mb-3 text-uppercase font-weight-bold">Quick Links</h5>
            <ul id="quick-links" class="quick-links pl-0 mb-0">
              <li class="link-item"><a href="#">Articles</a></li>
              <li class="link-item"><a href="#">About</a></li>
              <li class="link-item"><a href="#">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-item block--newsletter pb-4 col-md-4 col-lg-3">
          <h5 class="title mb-3 text-uppercase font-weight-bold">Newsletter</h5>
          <p class="description mb-3">
            Lorem ipsum dolor sit amet dolor consectetur adipiscing elit.
          </p>
          <aside class="footer-search">
            <form role="search" action="/" class="mb-3" name="searchform" method="post" id="search-block-form" accept-charset="UTF-8">
              <input id="search" name="search" value="Email"
                 onblur="if(this.value=='') this.value='Email';"
                 onfocus="if(this.value=='Email') this.value='';" type="text"
                 autocomplete="off">
              <button class="text-center float-right" type="submit" title="ok">
                <span class="text-uppercase font-weight-bold">ok</span></button>
            </form>
          </aside>
        </div>
      </div>
      <div class="footer-bottom align-items-center justify-content-between pt-md-4 pb-4">
        <div class="block--copyright-md text-uppercase font-weight-bold">
          Copyright 2017 <span>MEV LCC.</span> All Rights Reserved.
        </div>
        <div class="footer-menu text-uppercase pb-3 pb-md-0">
          <ul id="footer-menu" class="footer-menu pl-0 mb-4 pb-4 mb-md-0 pb-md-0 font-weight-bold">
            <li class="menu-item d-inline-block"><a href="#">About</a></li>
            <li class="menu-item d-inline-block"><a href="#">Privacy Policy</a></li>
            <li class="menu-item d-inline-block pb-3 pb-md-0"><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="block--copyright text-uppercase font-weight-bold">
          Copyright 2017 <span>MEV LCC.</span> All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
</section>
