$color-white: #ffffff;
$color-black: #000000;
$color-green-light: #86b670;
$color-green-light2: #a4c894;
$color-grey: #666262;
$color-grey-light: #9b9999;
$color-grey-light2: #cccccc;
$color-white-footer: #fefefe;
$color-footer-link: #808080;
$color-footer-focus: #cbcbcb;

$color-bg-input: #4e4c4c;
$color-bg-grey-light: #efefef;
$color-bg-footer: #333333;
$color-bg-social: $color-white-footer;
